@media (max-width: 1320px) {
  .contacts-page {
    display: block;
    &__map-container {
      box-shadow: none;
      margin-top: 40px;
      margin-left: 120px;
    }
  }
}

@media (max-width: 972px) {
  .contacts-page {
    &__map-container {
      margin-left: 0px
    }
  }
}

@media (max-width: 910px) {
  .logo img {
    width: 80px;
  }
  .footer__text {
    font-size: 14px;
  }
  .footer__information-item {
    font-size: 12px;
  }
  .footer__adress,
  .footer__phone,
  .footer__contacts__item {
    font-size: 12px;
  }
  .footer__social-lists {
    width: 180px;
  }
}

@media (max-width: 820px) {
  .contacts-page {
    &__map-container {
      display: none;
    }
  }
  .footer__social {
    display: none;
  }
  .logo img {
    display: none;
  }
}

@media (max-width: 665px) {
  .contacts-page {
    &__left-title,
    &__left-text {
      font-size: 42px;
    }
  }
  .logo img {
    display: flex;
  }

  .header {
    flex-wrap: wrap;
  }
  .menu {
    padding-right: 0;
    width: 100%;
    position: relative;
    z-index: 11;
    background-color: #fff;
    text-align: center;
    transform: translateY(-250px);
    padding-top: 42px;
    transition: all .5s;
    &--open {
      transform: translateY(30px);
    }
  }
  .header__btn-menu {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    span {
      background-color: black;
      height: 3px;
      width: 37px;
      border-radius: 2px;
      display: block;
      margin: 6px 0;
    }
  }
  .menu__list {
    display: block;
  }
  .menu__list-link {
    display: block;
    padding: 15px 0;
  }
}

@media (max-width: 525px) {
  .footer {
    padding: 25px 20px 120px;
  }
}

@media (max-width: 460px) {
  .contacts-page {
    &__left-title,
    &__left-text {
      font-size: 26px;
    }
  }
  .contacts-page__left-btn {
    width: 145px;
    height: 50px;
    padding-left: 37px;
  }
}
