@media (max-width: 1320px) {
  .contacts-page {
    display: block;
    &__map-container {
      box-shadow: none;
      margin-top: 40px;
      margin-left: 120px;
    }
  }
}

@media (max-width: 1118px) {
  .certifications__title {
    font-size: 36px;
  }
  .certifications__text {
    font-size: 36px;
  }
  .certification-image__img {
    width: 685px;
    height: 495px;
  }
  .projects-page__group-left {
    width: 390px;
    height: 160px;
  }
  .projectone__mainimg {
    height: 412px;
  }
  .projectone__info {
    display: flex;
    flex-direction: column;
  }
  .projectone__info-mainimg {
    display: none;
  }
}

@media (max-width: 972px) {
  .contacts-page {
    &__map-container {
      margin-left: 0px
    }
  }
  .projects-page__group-one,
  .projects-page__group-two,
  .projects-page__group-three {
    display: block;
  }
  .projects-page__group-right {
    margin-top: 300px;
    margin-left: 200px;
  }
  .projects-page__group-left-img {
    margin-left: 150px;
    width: 670px;
    height: 360px;
    padding-top: 40px;
  }
}

@media (max-width: 910px) {
  .logo img {
    width: 80px;
  }
  .footer__text {
    font-size: 14px;
  }
  .footer__information-item {
    font-size: 12px;
  }
  .footer__adress,
  .footer__phone,
  .footer__contacts__item {
    font-size: 12px;
  }
  .footer__social-lists {
    width: 180px;
  }
  .certification-image__img {
    width: 485px;
    height: 295px;
  }
}

@media (max-width: 830px) {
  .contacts-page {
    &__map-container {
      display: none;
    }
  }
  .footer__social {
    display: none;
  }
  .logo img {
    display: none;
  }
  .projects-page__group {
    background-color: transparent;
  }
  .projects-page__title,
  .projectone__title {
    font-size: 36px;
  }
  .projects-page__text,
  .projectone__text {
    font-size: 36px;
  }
  .projectone__mainimg {
    height: 321px;
  }
}

@media (max-width: 720px) {
  .projects-page {
    margin-left: 30px;
  }
  .projectone__mainimg {
    height: 252px;
  }
}

@media (max-width: 665px) {
  .contacts-page {
    &__left-title,
    &__left-text {
      font-size: 42px;
    }
  }
  .logo img {
    display: flex;
  }

  .header {
    flex-wrap: wrap;
  }
  .menu {
    padding-right: 0;
    width: 100%;
    position: relative;
    z-index: 11;
    background-color: #fff;
    text-align: center;
    transform: translateY(-250px);
    padding-top: 42px;
    transition: all .5s;
    &--open {
      transform: translateY(30px);
    }
  }
  .header__btn-menu {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    span {
      background-color: black;
      height: 3px;
      width: 37px;
      border-radius: 2px;
      display: block;
      margin: 6px 0;
    }
  }
  .menu__list {
    display: block;
  }
  .menu__list-link {
    display: block;
    padding: 15px 0;
  }
  .certifications__title {
    font-size: 24px;
  }
  .certifications__text {
    font-size: 24px;
  }
  .certification-image__img {
    width: 385px;
    height: 195px;
  }
  .projects-page__group-right {
    max-width: none;
    margin-right: none;
  }
  .projectone__mainimg {
    height: 178px;
  }
  .projectone__info-text {
    margin: -80px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 595px) {
  .projects-page__group-left-img {
    margin-left: 65px;
  }
  .projects-page__group-right {
    margin-right: -100px;
    text-align: justify;
  }
}

@media (max-width: 525px) {
  .footer {
    padding: 25px 20px 120px;
  }
  .certification-image__img {
    width: 285px;
    height: 195px;
  }
  .projects-page {
    display: flex;
    flex-direction: column;
  }
  .projects-page__group-left-img {
    margin-left: -10px;
    width: 450px;
    height: 375px;
  }
  .projects-page__group-right {
    text-align: center;
    margin: 0 auto;
    padding-top: 220px;
    text-align: justify;
  }
  .projects-page__group-left {
    width: none;
  }
  .projectone__mainimg {
    height: 125px;
  }
  .projectone__info-text {
    margin: -80px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .projectone__title,
  .projectone__text {
    font-size: 28px;
  }
}

@media (max-width: 460px) {
  .contacts-page {
    &__left-title,
    &__left-text {
      font-size: 26px;
    }
  }
  .contacts-page__left-btn {
    width: 145px;
    height: 50px;
    padding-left: 37px;
  }
  .certification-image__img {
    width: 285px;
    height: 95px;
  }
  .projects-page__group {
    margin-top: 10px;
  }
  .projects-page__title,
  .projects-page__text {
    font-size: 26px;
  }
  .projects-page__group-left-img {
    height: 290px;
    width: 295px;
  }
  .projects-page__group-right-title {
    margin-top: -55px;
    margin-bottom: 18px;
  }
  .projects-page__group-right-btn {
    margin-bottom: -60px;
  }
  .projects-page__group-right-text {
    margin-bottom: 24px;
  }
  .projects-page__group-right-title {
    font-size: 28px;
  }
  
}
