@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.menu {
  &__list {
    display: flex;
    gap: 0 55px;
  }
  &__list-link {
    color: $menu;
    @extend %main-font;
  }
}


.footer {
  display: flex;
  justify-content: space-between;
  padding: 45px 80px 120px;
  &__text,
  &__adress,
  &__phone,
  &__mail {
    color: $text;
  }
  &__information-item-link {
    color: $text;
  }
  &__text {
    padding-bottom: 25px;
  }
  &__information-nav,
  &__contacts-nav {
    display: flex;
    flex-direction: column;
  }
  &__vector {
    position: absolute;
  }
  &__adress,
  &__phone,
  &__mail {
    padding-left: 22px;
  }
  &__information-item {
    margin-bottom: 16px;
  }
  &__contacts__item {
    margin-bottom: 32px;
  }
  &__social-lists {
    display: flex;
    gap: 40px;
  }
}

.wrapper {
  &__container {
    display: flex;
  }
  &__project {
    margin-left: 135px;
    margin-top: 235px;
    color: $header;
    text-transform: uppercase;
    @extend %title-font;
    font-size: 64px;
  }
  &__lorum {
    margin-left: 135px;
    color: $menu;
    text-transform: uppercase;
    @extend %text-font;
    font-size: 64px;
  }
  &__arrow {
    margin-left: 135px;
    margin-top: 90px;
    margin-bottom: 52px;
    display: flex;
    gap: 23px;
  }
  &__images {
    margin-left: 250px;
    margin-top: 30px;
  }
  &__images img {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }
  &__project-1,
  &__project-2,
  &__project-3 {
    width: 670px;
    height: 435px;
  }
  &__view {
    color: $menu;
    display: flex;
    margin: auto;
    padding: 50px;
    gap: 16px;
    margin-top: 12px;
    text-transform: uppercase;
    @extend %main-font;
    font-size: 16px;
  }
}

.wrapper__arrow-left, .wrapper__arrow-right {
  color: rgba(249, 249, 249, 0.4);
  border: none;
  cursor: pointer;
  padding: 22px 18px;
  background: rgba(230, 226, 226, 0.2);
  transition: background 0.3s ease, color 0.3s ease;
}

.wrapper__arrow-left:hover, .wrapper__arrow-right:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.wrapper__images img {
  display: none;
}

.wrapper__images img:first-of-type {
  display: block;
}

.about {
  &__container {
    background-color: #FBFBFB;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 35px;
  }
  &__left-side {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  &__left-img-1,
  &__left-img-2 {
    width: 100%;
    display: block;
  }
  &__left-img-3 {
    width: 50%;
    align-self: flex;
    padding-top: 20px;
  }
  &__left-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
  }
  &__right-side {
    display: block;
    max-width: 50%;
    padding: 10px;
  }
  &__right-title {
    color: $header;
    @extend %title-font;
    font-size: 64px;
    padding-bottom: 20px;
  }
  &__right-text {
    @extend %title-font;
    margin-top: 12px;
    max-width: 80%;
  }
  &__read {
    color: $menu;
    display: flex;
    margin: auto;
    padding: 50px;
    gap: 16px;
    margin-top: 12px;
    text-transform: uppercase;
    @extend %main-font;
    font-size: 16px;
  }
}

.focus {
  &__title {
    display: flex;
    padding-left: 135px;
    font-size: 64px;
    @extend %title-font;
    color: $header;
    padding-top: 80px;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    margin: 50px 135px;
  }
  &__left {
    display: flex;
  }
  &__left-number {
    color: #f2f2f2;
    font-size: 160px;
    @extend %text-font;
  }
  &__left-text {
    @extend %title-font;
    font-size: 20px;
    padding-top: 44px;
    padding-left: 12px;
  }
  &__right-text {
    @extend %title-font;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 30px;
  }
  &__right {
    display: flex;
  }
  &__right-number {
    color: #f2f2f2;
    font-size: 160px;
    @extend %text-font;
    padding-left: 189px;
  }

}
